.register {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: darkslategrey;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/black_dog.jpg"); */
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.register .register-content h1 {
  text-align: center;
  font-size: 50px;
  color: yellow;
}

.register .register-content p {
  color: white;
  font-size: 20px;
}

.register .information h4 {
  color: yellow;
  font-size: 16px;
  text-align: center;
}
.register .information input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
