/* about content  */
.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "heading heading"
    "img content";
}
/* h1  */
.about-content h1 {
  grid-area: heading;
  text-align: center;
  margin-top: 5%;
  font-size: 50px;
}
/* image */
.about-content img {
  grid-area: img;
  width: 50vw;
  object-fit: cover;
  height: 250%;
}
.about-content p {
  grid-area: content;
  padding: 10%;
  min-width: 300px;
  width: 49vw;
}
