* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about-content {
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.about-content h1 {
  text-align: center;
  font-size: 50px;
}
.about-content img {
  width: 50vw;
  object-fit: cover;
  height: 100%;
}
.about-content p {
  padding: 10%;
  min-width: 300px;
  width: 49vw;
}
